@model string
@{ 
    var url = $"/Oauth/Authorize{Model}";
}

<p>@Model</p>

<form action="@url" method="post">
    <input type="text" name="username" />
    <input type="submit" value="Submit" />
</form>